@import "https://fonts.googleapis.com/css?family=Mada";
body {
  font-family: 'Mada', sans-serif;
  background: #99C49A;
}

.flat-button {
  position: relative;
  width: 200px;
  height: 60px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  /* Typo */
  line-height: 60px;
  text-align: center;
  color: #99C49A;
  text-decoration: none;
}

.flat-button:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  content: "";
  z-index: -2;
  transition: transform .3s;
  text-decoration: none;
}

}

#back{
  background: #ffffff;
  color: #ffffff;
}

#back:after{
  background: #ffffff;
}
