@import "https://fonts.googleapis.com/css?family=Mada";
body {
  font-family: 'Mada', sans-serif;
  background: #99C49A;
}

.flat-button {
  position: relative;
  width: 200px;
  height: 60px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  /* Typo */
  line-height: 60px;
  text-align: center;
  color: #99C49A;
}

.flat-button:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  content: "";
  z-index: -2;
  transition: transform .3s;
}

.flat-button:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}
